
  .image-container {
    overflow: hidden;
  }

.imags {
 
    transition: transform 0.5s; /* Smooth transition for zoom effect */
}

.imags:hover {
    transform: scale(1.1); /* Increase the scale value for more zoom */
}









